{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'search_result' %}" method="get">
        <input id="search-it" name="q" type="text" placeholder="Scan QR code">
        <input id="submit-btn" type="submit" value="OK">
    </form>

    {% if employee %}
    <div class="card-container">
        <img src="{{ employee.image.url }}" alt="user"/>
        <h3>{{ employee.full_name }}</h3>
        <h6>{{ employee.department }}</h6>
        <p>{{ employee.occupation }}</p>
        <div class="buttons">
            <button class="primary ghost">
                {{ percent }}%
            </button>
        </div>
        <div class="skills">
            <h6>Latest absents of this month</h6>
            <ul>
                {% for la in latest_absents %}
                <li>{{ la }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block footer %}
            <a href='/'><button class="focused">Home</button></a> 
            <a href='/admin'><button class="primary">Admin</button></a>
            <a href='/generate_sheet'><button class="primary">Generate Sheet</button></a>
            <a href='/generate_salary'><button class="primary">Generate Salary</button></a>
{% endblock %}
